.header-top {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
}

.products {
    margin-bottom: 60px;
    margin-left: 70px;
    margin-right: 70px;
}

.footer {
    margin-left: 70px;
}
