* {
 box-sizing: border-box;
}

body {
    margin: 0;   
}

.menu-verhnee {
    display: inline-block;
    background-color: #f7f7f7;
    width: 100%;
    color: #525066;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

.menu-verhnee-left, .ul-li li {
    float: left;
}

.menu-verhnee-right {
    float: right;
}

.ul-li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.ul-li li {
    padding: 10px 15px;
}

.menu-nijnee ul li {
    padding: 40px 85px;
    color: #525066;
}





/*.bottom-menu {
    width: 1220px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    color: #525066;
}

.bottom-menu-left ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 100px;  
}

.bottom-menu-right ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
   
}*/